In [6]:
import pandas as pd

gPoIFeatureSavePath = './Data/Output/MultipleFeatures/PoIFeature.csv'

PoIFeature = pd.read_csv(gPoIFeatureSavePath, index_col=0)
PoIFeature['grid'] = PoIFeature.index
print(PoIFeature.columns)
PoIFeature.head(3)

Index(['0.0', '1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0',
       '10.0', '11.0', '12.0', '13.0', 'grid'],
      dtype='object')

,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,grid
18,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18
19,0.0,0.0,4.0,1.0,1.0,0.0,3.0,6.0,1.0,2.0,1.0,1.0,1.0,0.0,19
20,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,20

In [13]:
import pandas as pd

# , 
#                                       index_col=0

singleFeatureTrajectory = pd.read_csv('./Data/Output/TrajectoryFeature/006.csv', index_col=0)

singleFeatureTrajectory.head(3)

,latitude,longitude,alt,entireTime,grid,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0
0,39.942422,116.344241,470,2008-11-21 09:56:05,7782,0.0,65.0,16.0,278.0,9.0,78.0,56.0,20.0,49.0,56.0,87.0,4.0,24.0,126.0
1,39.942432,116.344248,463,2008-11-21 09:56:10,7782,0.0,65.0,16.0,278.0,9.0,78.0,56.0,20.0,49.0,56.0,87.0,4.0,24.0,126.0
2,39.942450,116.344274,459,2008-11-21 09:56:15,7782,0.0,65.0,16.0,278.0,9.0,78.0,56.0,20.0,49.0,56.0,87.0,4.0,24.0,126.0

In [3]:
import pandas as pd
gAllUsersTrajectoryFeaturePath = './Data/Output/usersTrajectory.csv'
df = pd.read_csv(gAllUsersTrajectoryFeaturePath, nrows=5, index_col=0)
df

,latitude,longitude,alt,entireTime,grid,userID,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0
0,39.976833,116.328033,213.254593,2007-07-20 10:23:36,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0
1,39.977250,116.327567,213.254593,2007-07-20 10:24:35,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0
2,39.977617,116.327400,213.254593,2007-07-20 10:25:22,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0
3,39.977900,116.327767,213.254593,2007-07-20 10:26:27,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0
4,39.977933,116.327183,485.564304,2007-07-20 10:26:53,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0

In [42]:
import pandas as pd

df = pd.read_csv('./Data/Output/Trajectory_all.csv', nrows=5, index_col=0)
df

    latitude   longitude         alt           entireTime  grid  userID
0  39.976833  116.328033  213.254593  2007-07-20 10:23:36  7643      72
1  39.977250  116.327567  213.254593  2007-07-20 10:24:35  7643      72
2  39.977617  116.327400  213.254593  2007-07-20 10:25:22  7643      72
3  39.977900  116.327767  213.254593  2007-07-20 10:26:27  7643      72
4  39.977933  116.327183  485.564304  2007-07-20 10:26:53  7643      72

In [29]:
df = df[['grid', 'userID', 'latitude']]
df

   grid  userID   latitude
0  7643      72  39.976833
1  7643      72  39.977250
2  7643      72  39.977617
3  7643      72  39.977900
4  7643      72  39.977933

In [30]:
result = df.pivot_table(index='userID',columns='grid', values='latitude', aggfunc='count').fillna(0)
result

grid    7643
userID
72         5

In [22]:
df = pd.DataFrame({'userID':[1,1,3,4,5],
                   'grid':[2,2,3,4,4]})
df['temp'] = 0
df

   userID  grid  temp
0       1     2     0
1       1     2     0
2       3     3     0
3       4     4     0
4       5     4     0

In [23]:
result = df.pivot_table(index='userID',columns='grid', values='temp', aggfunc='count').fillna(0)
result

grid      2    3    4
userID
1       2.0  0.0  0.0
3       0.0  1.0  0.0
4       0.0  0.0  1.0
5       0.0  0.0  1.0

In [24]:
result = result.groupby(level=0).sum()
result

grid      2    3    4
userID
1       2.0  0.0  0.0
3       0.0  1.0  0.0
4       0.0  0.0  1.0
5       0.0  0.0  1.0

In [36]:
import pandas as pd
gInteractionMatrixSavePath = './Data/Output/InteractionMatrix.csv'
df = pd.read_csv(gInteractionMatrixSavePath, nrows=5, index_col=0)
df

,20,36,37,60,64,65,66,67,68,69,...,20610,20624,20628,20658,20661,20703,20731,20753,20767,20768
userID,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
import transbigdata as tbd

#地理特征边界。
gBounds = [115.7, 39.4, 117.4, 41.6]
# 所有的地理参数。
gGeoParameters = area_to_params(gBounds, accuracy = 1000, method='rect')

tbd.traj_stay_move

In [39]:
import pandas as pd

def GenerateTimeFeature(df):
    # 生成时间特征。
    df['weekofyear'] = df['entireTime'].weekofyear
    # 一周中的星期几。
    df['dayofweek'] = df['entireTime'].dayofweek
    # 一年中的第几天。
    df['dayofyear'] = df['entireTime'].dayofyear
    # 一年中的第几个季度。
    df['quarter'] = df['entireTime'].quarter
    # SingleUserTrajectory_pd['weekday_name'] = SingleUserTrajectory_pd['entireTime'].dt.weekday_name
    # 一年中的第几个月。
    df['month'] = df['entireTime'].month
    # 第几年。这个没有必要。
    # SingleUserTrajectory_pd['year'] = SingleUserTrajectory_pd['entireTime'].dt.year
    # 一天中的第几个小时。
    df['hour'] = df['entireTime'].hour
    # df['halfhour'] = df['entireTime'].floor(freq='30Min')
    return df

gAllUsersTrajectoryFeaturePath = './Data/Output/usersTrajectory.csv'
df = pd.read_csv(gAllUsersTrajectoryFeaturePath, nrows=5, 
                 index_col=0, parse_dates=['entireTime'], infer_datetime_format=True)

df = df.apply(GenerateTimeFeature, axis=1)
# df['entireTime'] = pd.to_datetime(df['entireTime'], )
df

,latitude,longitude,alt,entireTime,grid,userID,0.0,1.0,2.0,3.0,...,10.0,11.0,12.0,13.0,weekofyear,dayofweek,dayofyear,quarter,month,hour
0,39.976833,116.328033,213.254593,2007-07-20 10:23:36,7643,72,0.0,70.0,4.0,368.0,...,124.0,8.0,23.0,217.0,29,4,201,3,7,10
1,39.977250,116.327567,213.254593,2007-07-20 10:24:35,7643,72,0.0,70.0,4.0,368.0,...,124.0,8.0,23.0,217.0,29,4,201,3,7,10
2,39.977617,116.327400,213.254593,2007-07-20 10:25:22,7643,72,0.0,70.0,4.0,368.0,...,124.0,8.0,23.0,217.0,29,4,201,3,7,10
3,39.977900,116.327767,213.254593,2007-07-20 10:26:27,7643,72,0.0,70.0,4.0,368.0,...,124.0,8.0,23.0,217.0,29,4,201,3,7,10
4,39.977933,116.327183,485.564304,2007-07-20 10:26:53,7643,72,0.0,70.0,4.0,368.0,...,124.0,8.0,23.0,217.0,29,4,201,3,7,10

In [34]:
df.dtypes

latitude             float64
longitude            float64
alt                  float64
entireTime    datetime64[ns]
grid                   int64
userID                 int64
0.0                  float64
1.0                  float64
2.0                  float64
3.0                  float64
4.0                  float64
5.0                  float64
6.0                  float64
7.0                  float64
8.0                  float64
9.0                  float64
10.0                 float64
11.0                 float64
12.0                 float64
13.0                 float64
dtype: object

In [26]:
type(df['entireTime'])

pandas.core.series.Series

,latitude,longitude,alt,entireTime,grid,userID,0.0,1.0,2.0,3.0,...,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,dayofyear,weekofyear
0,39.976833,116.328033,213.254593,2007-07-20 10:23:36,7643,72,0.0,70.0,4.0,368.0,...,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0,4,29
1,39.977250,116.327567,213.254593,2007-07-20 10:24:35,7643,72,0.0,70.0,4.0,368.0,...,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0,4,29
2,39.977617,116.327400,213.254593,2007-07-20 10:25:22,7643,72,0.0,70.0,4.0,368.0,...,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0,4,29
3,39.977900,116.327767,213.254593,2007-07-20 10:26:27,7643,72,0.0,70.0,4.0,368.0,...,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0,4,29
4,39.977933,116.327183,485.564304,2007-07-20 10:26:53,7643,72,0.0,70.0,4.0,368.0,...,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0,4,29

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   latitude    5 non-null      float64
 1   longitude   5 non-null      float64
 2   alt         5 non-null      float64
 3   entireTime  5 non-null      datetime64[ns]
 4   grid        5 non-null      int64
 5   userID      5 non-null      int64
 6   0.0         5 non-null      float64
 7   1.0         5 non-null      float64
 8   2.0         5 non-null      float64
 9   3.0         5 non-null      float64
 10  4.0         5 non-null      float64
 11  5.0         5 non-null      float64
 12  6.0         5 non-null      float64
 13  7.0         5 non-null      float64
 14  8.0         5 non-null      float64
 15  9.0         5 non-null      float64
 16  10.0        5 non-null      float64
 17  11.0        5 non-null      float64
 18  12.0        5 non-null      float64
 19  13.0        5 non-null      float64
dtypes: datetime64[ns](1), float64(17), int64(2)
memory usage: 840.0 bytes

In [18]:
df

,latitude,longitude,alt,entireTime,grid,userID,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0
0,39.976833,116.328033,213.254593,2007-07-20 10:23:36,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0
1,39.977250,116.327567,213.254593,2007-07-20 10:24:35,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0
2,39.977617,116.327400,213.254593,2007-07-20 10:25:22,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0
3,39.977900,116.327767,213.254593,2007-07-20 10:26:27,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0
4,39.977933,116.327183,485.564304,2007-07-20 10:26:53,7643,72,0.0,70.0,4.0,368.0,1.0,33.0,115.0,25.0,34.0,74.0,124.0,8.0,23.0,217.0

In [41]:
import os

os.system('beep -f 1000 -l 1000')

print('\a')



sh: 1: beep: not found

In [10]:
import time
for i in range(10):
    time.sleep(1)
    print('{}/10'.format(i), end='\r')

In [12]:
from tqdm.rich import tqdm
from time import sleep

bar = tqdm(total = 5)

bar.set_description('d 1')

bar.update(1)

bar.set_description('d 2')

bar.update(1)
bar.set_description('d 3')

bar.update(1)

bar.set_description('d 4')

bar.update(1)

bar.set_description('d 5')

bar.update(1)

bar.close()

print('completed.')

ImportError: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html

In [66]:
import pandas as pd

def drop_all_0_row(df):
    # x1 = df[(df==0).all(axis=1)]
    # x2 = 
    return df.drop(index=df[(df==0).all(axis=1)].index)

def tte(user):
    stay = pd.read_csv('./Data/Output/Stay/{}.csv'.format(user), index_col=0)
    stay['stime'] = pd.to_datetime(stay['stime'])
    s1 = stay.groupby(pd.Grouper(key='stime', freq='M'))

    gridList = []
    for g in s1:
        key = g[0].month
        # print(type(key))
        value = g[1]['grid'].to_list()
        gridList.append(value)
        # print(key)
        # print(value)
    gridpd = pd.DataFrame(gridList)
    gridpd = drop_all_0_row(gridpd)
    gridpd.dropna(axis=0, how='all', inplace=True)
    print(gridpd.shape)
    return gridpd

In [67]:
x = tte('153')
x

(52, 124)

,0,1,2,3,4,5,6,7,8,9,...,114,115,116,117,118,119,120,121,122,123
0,7928.0,7928.0,7786.0,7928.0,7357.0,7643.0,8650.0,7928.0,9354.0,10801.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9351.0,8637.0,8350.0,9354.0,9214.0,9214.0,8641.0,9354.0,9214.0,8352.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-22287.0,-20877.0,-21164.0,-20877.0,-20586.0,-21019.0,-20876.0,-21164.0,-21164.0,9354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,8357.0,9211.0,9354.0,9351.0,9354.0,9351.0,9354.0,9351.0,9354.0,9351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,9354.0,9351.0,9354.0,9351.0,9354.0,9352.0,7928.0,7643.0,9354.0,9351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8637.0,9354.0,9354.0,9351.0,9354.0,9351.0,9354.0,9211.0,7357.0,7928.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9354.0,9351.0,9354.0,7069.0,9354.0,9351.0,7643.0,7928.0,7925.0,9354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7643.0,7786.0,9354.0,9346.0,9346.0,9346.0,9346.0,9354.0,9351.0,7782.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,9074.0,9354.0,7643.0,7928.0,9354.0,9372.0,9354.0,9354.0,9351.0,9354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,9351.0,9354.0,9352.0,9354.0,9351.0,9354.0,9351.0,9354.0,9351.0,9791.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,9351.0,7782.0,7925.0,7643.0,9354.0,9791.0,9354.0,9791.0,9354.0,9351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9068.0,9354.0,9351.0,9354.0,9354.0,9351.0,9354.0,9351.0,9354.0,9351.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9638.0,9638.0,9354.0,9638.0,9354.0,9495.0,9354.0,9638.0,9354.0,9495.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,9212.0,9212.0,8636.0,9354.0,9351.0,9068.0,9354.0,9351.0,9354.0,8634.0,...,-1310689.0,-1310688.0,-1308683.0,-1308682.0,-1308539.0,-1308683.0,-1308683.0,-1310689.0,-1310546.0,-1310689.0
22,-1310688.0,-1313565.0,-1313566.0,-1310546.0,-1310689.0,-1310688.0,-1305387.0,-1262629.0,-1262347.0,-1262204.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,9351.0,9354.0,9351.0,9354.0,9351.0,9354.0,9501.0,9354.0,9212.0,7643.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,9070.0,9213.0,9354.0,9208.0,9354.0,9351.0,8064.0,7492.0,8651.0,8640.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,9351.0,8492.0,8492.0,9495.0,9354.0,8931.0,9354.0,9212.0,7500.0,9207.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,9351.0,7782.0,9068.0,9354.0,9074.0,8932.0,9074.0,9075.0,9495.0,9354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,9071.0,9354.0,9074.0,9352.0,9354.0,9207.0,9346.0,9354.0,9074.0,9356.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,9354.0,9209.0,9354.0,9209.0,9354.0,9209.0,9354.0,9209.0,9354.0,9209.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,8930.0,9074.0,9074.0,9074.0,9075.0,9074.0,8930.0,9075.0,9074.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,9214.0,9073.0,9074.0,9075.0,9074.0,9073.0,9074.0,9073.0,9217.0,9073.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,9078.0,9074.0,9078.0,9074.0,9078.0,9074.0,9078.0,9074.0,9503.0,9068.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,9078.0,9074.0,9073.0,9074.0,10800.0,116472.0,116758.0,116758.0,116615.0,116758.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,9074.0,9073.0,9074.0,9194.0,9074.0,7660.0,7803.0,9074.0,8938.0,9361.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,4390.0,4532.0,821.0,388.0,821.0,3680.0,7935.0,9074.0,9073.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,9073.0,9074.0,9073.0,9074.0,9073.0,8638.0,9217.0,9068.0,9503.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,9073.0,9074.0,9073.0,9074.0,7782.0,9217.0,9073.0,9074.0,9073.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,9073.0,9074.0,9073.0,9074.0,9073.0,9074.0,25164.0,25021.0,20777.0,18927.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,9074.0,9073.0,9074.0,9073.0,9074.0,9363.0,9214.0,9220.0,9218.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,9074.0,8789.0,9074.0,8923.0,8065.0,9074.0,9218.0,9074.0,9073.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,9074.0,-2873527.0,-2873382.0,-2873381.0,-2877797.0,-2873382.0,-2873382.0,-2831005.0,-2830556.0,-2830698.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,9502.0,9351.0,9073.0,9074.0,9073.0,9074.0,9503.0,9219.0,9074.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,9073.0,9217.0,9074.0,9073.0,9074.0,9073.0,9074.0,9073.0,9074.0,9073.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,9074.0,7917.0,9074.0,7495.0,9074.0,6073.0,6216.0,9218.0,9074.0,9073.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,9073.0,9074.0,9073.0,9073.0,11084.0,53183.0,53039.0,52894.0,53183.0,53039.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,9073.0,9074.0,7318.0,6598.0,9074.0,7357.0,9074.0,9073.0,9073.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,-30441.0,-23995.0,-25612.0,-25641.0,-25498.0,-25640.0,-25643.0,-25497.0,-19935.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,9073.0,8490.0,8782.0,9065.0,8932.0,9074.0,9073.0,9074.0,9356.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,9074.0,7357.0,9074.0,9073.0,9073.0,9074.0,9073.0,9074.0,9073.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,9074.0,9073.0,9074.0,9073.0,9352.0,9065.0,9074.0,9073.0,9074.0,9073.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,9074.0,8793.0,9074.0,9503.0,9074.0,8793.0,9074.0,9073.0,8793.0,9218.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,-141822.0,-141823.0,-141822.0,-141965.0,-141822.0,-141822.0,-147080.0,-147080.0,-147081.0,-141822.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,50603.0,47411.0,54316.0,54743.0,53182.0,52896.0,53183.0,54601.0,53887.0,54601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,53038.0,53037.0,52893.0,53039.0,53183.0,52893.0,53040.0,52893.0,53183.0,52893.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,9356.0,8066.0,9074.0,9070.0,9216.0,9074.0,9073.0,9074.0,9073.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,9073.0,9073.0,9074.0,9073.0,9074.0,9218.0,9074.0,8923.0,9074.0,9075.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,9073.0,9074.0,9073.0,9208.0,9074.0,8936.0,8936.0,9075.0,9074.0,9073.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,9065.0,7491.0,9074.0,9361.0,9220.0,9363.0,9074.0,9065.0,8637.0,9074.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,9356.0,8065.0,9074.0,9073.0,9074.0,9073.0,9074.0,9363.0,9218.0,10800.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,9073.0,9074.0,9073.0,9073.0,9073.0,9075.0,9073.0,9073.0,9074.0,9073.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
tte('001')

(3, 64)

In [53]:
tte('000')

(10, 149)

In [16]:
import pandas as pd

stay = pd.read_csv('./Data/Output/Stay/153.csv', index_col=0)
stay['stime'] = pd.to_datetime(stay['stime'])

stay.head()

,userID,stime,grid,etime,lon,lat,duration,stayid
1679859,153,2007-07-21 05:08:52,7928,2007-07-21 05:47:31,116.345300,39.967233,2319.0,0
1679889,153,2007-07-21 05:59:47,7928,2007-07-21 10:58:42,116.344650,39.967117,17935.0,1
1679917,153,2007-07-21 11:07:10,7786,2007-07-21 13:13:26,116.344467,39.971917,7576.0,2
1680015,153,2007-07-21 13:51:08,7928,2007-07-22 03:47:00,116.344800,39.967217,50152.0,3
1541299,153,2007-07-22 04:43:45,7357,2007-07-22 06:03:36,116.308917,39.974733,4791.0,4

In [16]:
stay.describe()

       userID          grid         lon         lat      duration      stayid
count   517.0    517.000000  517.000000  517.000000  5.170000e+02  517.000000
mean      0.0  10087.657640  116.531455   39.657596  4.160895e+04  258.000000
std       0.0  11726.282757    0.985844    1.692634  4.052443e+05  149.389312
min       0.0   4653.000000  116.072546   31.112745  1.800000e+03    0.000000
25%       0.0   7504.000000  116.320823   39.998024  3.386000e+03  129.000000
50%       0.0   7646.000000  116.321199   40.006876  9.998000e+03  258.000000
75%       0.0   7646.000000  116.326651   40.007149  2.863400e+04  387.000000
max       0.0  69883.000000  121.548423   40.133208  9.156892e+06  516.000000

In [5]:
stay['stime']

82033     2008-10-23 02:57:55
82395     2008-10-23 04:30:57
82819     2008-10-23 10:31:05
82882     2008-10-23 11:11:12
88595     2008-10-24 02:11:14
                 ...
113840    2009-07-04 04:43:50
113934    2009-07-04 09:09:03
114065    2009-07-04 09:44:53
109718    2009-07-05 03:48:52
110357    2009-07-05 05:32:41
Name: stime, Length: 517, dtype: object

In [31]:
s1 = stay.groupby(pd.Grouper(key='stime', freq='M'))

In [73]:
import datetime
gridList = []
for g in s1:
    key = g[0].month
    # print(type(key))
    # .to_list()
    value = g[1][['grid', 'stime', 'duration']]
    print(value)
    # gridList.append(value)
    # print(key)
    # print(value)
# gridpd = pd.DataFrame(gridList)
# print(gridpd.shape)

          grid               stime    duration
1679859   7928 2007-07-21 05:08:52      2319.0
1679889   7928 2007-07-21 05:59:47     17935.0
1679917   7786 2007-07-21 11:07:10      7576.0
1680015   7928 2007-07-21 13:51:08     50152.0
1541299   7357 2007-07-22 04:43:45      4791.0
1541406   7643 2007-07-22 06:23:51      6474.0
1541484   8650 2007-07-22 09:20:31      4881.0
1541624   7928 2007-07-22 11:02:06      4449.0
1541653   9354 2007-07-22 12:37:33    212672.0
2132752  10801 2007-07-25 00:03:53      2661.0
2132756  10657 2007-07-25 00:48:14     12087.0
2132807  68593 2007-07-25 04:34:53      9390.0
2132818  68592 2007-07-25 07:11:23      3641.0
2132847  69162 2007-07-25 08:18:37      1810.0
2132848  69305 2007-07-25 08:48:47      3396.0
2132906  68445 2007-07-25 10:22:49     69244.0
729228   68449 2007-07-26 05:39:47      3147.0
729236   68295 2007-07-26 06:32:14     14493.0
729277   52894 2007-07-26 11:00:51      5603.0
729377   52894 2007-07-26 12:42:49     59274.0
443679   52607 2007-07-27 05:18:31      3289.0
443772   52606 2007-07-27 06:35:05      3540.0
443832   52749 2007-07-27 07:39:45      6124.0
443907   52894 2007-07-27 09:27:25     66932.0
2087404  53179 2007-07-28 04:10:53      4301.0
2087451  60094 2007-07-28 05:58:44     16576.0
2087452  68592 2007-07-28 10:35:00     44686.0
1519430   7928 2007-07-28 23:30:51      6531.0
1519439   7642 2007-07-29 01:23:08  21685722.0
Empty DataFrame
Columns: [grid, stime, duration]
Index: []
Empty DataFrame
Columns: [grid, stime, duration]
Index: []
Empty DataFrame
Columns: [grid, stime, duration]
Index: []
Empty DataFrame
Columns: [grid, stime, duration]
Index: []
Empty DataFrame
Columns: [grid, stime, duration]
Index: []
Empty DataFrame
Columns: [grid, stime, duration]
Index: []
Empty DataFrame
Columns: [grid, stime, duration]
Index: []
Empty DataFrame
Columns: [grid, stime, duration]
Index: []
         grid               stime   duration
458655   9351 2008-04-05 01:19:14     7721.0
458731   8637 2008-04-05 03:45:39     6339.0
458863   8350 2008-04-05 06:09:57     8441.0
458929   9354 2008-04-05 09:13:33  1006861.0
365087   9214 2008-04-17 01:02:40    85369.0
1939595  9214 2008-04-18 01:02:35    38454.0
138225   8641 2008-04-18 12:00:12    12850.0
138239   9354 2008-04-18 15:45:53   208335.0
510725   9214 2008-04-21 01:43:20   471038.0
415747   8352 2008-04-26 13:19:53     5056.0
415875   8065 2008-04-26 14:52:43    17944.0
415996   9068 2008-04-26 20:10:25     2600.0
416005   9354 2008-04-26 20:53:45   215593.0
1735921  9214 2008-04-29 09:08:22    34452.0
1736025  8924 2008-04-29 19:01:38     8731.0
1736125  9354 2008-04-29 21:54:29    41220.0
174385   8924 2008-04-30 09:50:25     3403.0
174595   7922 2008-04-30 11:21:03     2600.0
174686   8065 2008-04-30 12:10:46     9947.0
174837   8924 2008-04-30 15:28:54    21149.0
175215   7928 2008-04-30 21:42:28    17643.0
          grid               stime  duration
695111  -22287 2008-05-01 11:32:22   56154.0
1478041 -20877 2008-05-02 03:21:24   15798.0
1177609 -21164 2008-05-02 07:47:27  147494.0
1513060 -20877 2008-05-04 00:50:23    5654.0
669584  -20586 2008-05-04 02:25:12  105345.0
648036  -21019 2008-05-05 08:33:15    3705.0
2143046 -20876 2008-05-05 09:35:00   11341.0
1507253 -21164 2008-05-05 13:32:46   45000.0
1161315 -21164 2008-05-06 02:54:47  251657.0
1031754   9354 2008-05-09 09:00:00   80372.0
38523     9216 2008-05-10 07:29:55    5514.0
1715640   9074 2008-05-10 09:14:40    6996.0
405069    9644 2008-05-10 11:32:03   10851.0
1514183   9354 2008-05-10 14:38:55   66253.0
848199    9354 2008-05-11 10:02:54   53418.0
284275    9214 2008-05-12 01:10:22   27171.0
2075972   9354 2008-05-12 08:48:41   57507.0
370990    9214 2008-05-13 01:17:36   47236.0
529885    9354 2008-05-13 14:28:05   37359.0
1459992   9214 2008-05-14 00:57:02   48272.0
1161808   9354 2008-05-14 14:24:59   38199.0
2140942   9214 2008-05-15 01:16:49   43849.0
567144    9354 2008-05-15 13:31:47   41442.0
1826043   9214 2008-05-16 01:07:02   46345.0
718784    9354 2008-05-16 14:04:33   67437.0
773065    7643 2008-05-17 09:17:00    6057.0
1828766   7358 2008-05-17 11:11:19   10058.0
1615237   9354 2008-05-17 14:25:12  122127.0
1142074   9351 2008-05-19 00:31:32   39812.0
905661    9354 2008-05-19 11:44:56   46076.0
299811    9351 2008-05-20 00:34:20   35729.0
1140800   9354 2008-05-20 10:44:51   49295.0
700788    9351 2008-05-21 00:38:08   34614.0
1767652   9354 2008-05-21 10:30:16   93021.0
1351658   8636 2008-05-22 12:38:22    3494.0
1352588   9354 2008-05-22 13:49:49   38917.0
935568    9351 2008-05-23 00:50:30   33608.0
1796122   8360 2008-05-23 10:32:05    2548.0
1796143   8360 2008-05-23 11:14:55   12185.0
1228290   8359 2008-05-23 14:38:00   42546.0
905302    7642 2008-05-24 02:48:20   12417.0
1667304   7643 2008-05-24 06:54:41    2237.0
2111666   9354 2008-05-24 07:59:35  146141.0
1796220   9351 2008-05-26 00:35:20   37278.0
756673    9354 2008-05-26 11:09:54   47467.0
898027    9351 2008-05-27 00:34:07   39181.0
1648210   9354 2008-05-27 11:40:55   45677.0
737848    9351 2008-05-28 00:23:09   39061.0
2092968   9354 2008-05-28 11:25:28   92150.0
977832    9354 2008-05-29 13:16:48   48089.0
1481708   9351 2008-05-30 02:48:56   13778.0
1902707  10221 2008-05-30 07:40:48   15729.0
2077306   7643 2008-05-30 12:47:59    7242.0
28292     9354 2008-05-30 15:05:50  139159.0
         grid               stime  duration
1785663  8357 2008-06-01 06:02:28    9052.0
30568    9211 2008-06-01 08:57:57    1820.0
31151    9354 2008-06-01 09:28:17   53510.0
314281   9351 2008-06-02 00:31:11   35089.0
1670470  9354 2008-06-02 10:28:29   50490.0
...       ...                 ...       ...
458212   7643 2008-06-28 04:49:33   27749.0
1102015  7210 2008-06-28 12:48:15    2751.0
1102877  9354 2008-06-28 14:13:11  123268.0
1107081  9351 2008-06-30 00:38:56   47097.0
114581   7928 2008-06-30 13:58:29   73299.0

[63 rows x 3 columns]
          grid               stime  duration
1487722   9354 2008-07-01 11:01:19   47836.0
451146    9351 2008-07-02 00:29:28   38297.0
1529425   9354 2008-07-02 11:23:12   47195.0
241012    9351 2008-07-03 00:39:53   34458.0
1704352   9354 2008-07-03 10:29:46   50075.0
...        ...                 ...       ...
35986     9354 2008-07-25 13:03:02  213938.0
1438655   9351 2008-07-28 00:40:50   29771.0
1993463   9354 2008-07-28 09:07:57   56247.0
1056461   9351 2008-07-29 00:54:06   25142.0
881252   10511 2008-07-29 08:57:21  247279.0

[64 rows x 3 columns]
         grid               stime  duration
529363   8637 2008-08-01 06:25:48    2043.0
529603   9354 2008-08-01 07:11:21  105906.0
234910   9354 2008-08-02 12:44:41  128883.0
571917   9351 2008-08-04 00:42:04   30250.0
2120553  9354 2008-08-04 09:14:34   54693.0
...       ...                 ...       ...
570186   7643 2008-08-31 02:51:22   24928.0
869182   7499 2008-08-31 10:04:56    3938.0
870672   7643 2008-08-31 11:37:50    8047.0
871288   7928 2008-08-31 13:57:55   34736.0
1809272  7925 2008-08-31 23:51:01   37536.0

[71 rows x 3 columns]
         grid               stime  duration
584195   9354 2008-09-01 10:29:51   48506.0
405412   9351 2008-09-02 00:09:25   17537.0
405726   9354 2008-09-02 05:12:42   15563.0
407354   7069 2008-09-02 10:21:59   10299.0
408072   9354 2008-09-02 13:34:24   38115.0
...       ...                 ...       ...
2035491  7643 2008-09-29 07:40:51    2616.0
2035648  7643 2008-09-29 08:24:49   21218.0
2036320  9354 2008-09-29 14:32:37   53859.0
1113656  9492 2008-09-30 06:00:42   17329.0
1114958  9354 2008-09-30 11:07:13   56485.0

[81 rows x 3 columns]
         grid               stime  duration
883572   7643 2008-10-01 03:11:49   29790.0
1636008  7786 2008-10-01 11:28:19    2490.0
1637769  9354 2008-10-01 12:52:19   57179.0
781095   9346 2008-10-02 05:21:46    6585.0
782858   9346 2008-10-02 07:56:07    3330.0
...       ...                 ...       ...
1055247  9351 2008-10-31 00:15:49   35148.0
1478659  8353 2008-10-31 10:22:41    9999.0
1479079  8354 2008-10-31 13:09:20    2344.0
1480528  8496 2008-10-31 14:16:14   10292.0
1481522  9354 2008-10-31 17:36:06   31406.0

[74 rows x 3 columns]
         grid               stime  duration
904413   9074 2008-11-01 02:39:02    6167.0
904866   9354 2008-11-01 04:31:55   76382.0
1541127  7643 2008-11-02 02:08:25   38187.0
626612   7928 2008-11-02 12:50:18   87289.0
457350   9354 2008-11-03 13:17:13   34693.0
...       ...                 ...       ...
756091   9354 2008-11-28 09:42:50   66865.0
336935   9791 2008-11-29 04:46:48   15782.0
338183   9219 2008-11-29 09:47:57    2513.0
338472   8650 2008-11-29 10:40:40    9859.0
340084   9354 2008-11-29 14:22:37  121459.0

[67 rows x 3 columns]
         grid               stime   duration
952043   9351 2008-12-01 00:18:36    47281.0
1514847  9354 2008-12-01 13:36:45    37880.0
1174726  9352 2008-12-02 00:11:59    41084.0
45744    9354 2008-12-02 11:41:39    45016.0
1530102  9351 2008-12-03 00:20:29    37191.0
973675   9354 2008-12-03 10:53:46    48040.0
711292   9351 2008-12-04 00:20:40    36435.0
2044490  9354 2008-12-04 10:29:11    49196.0
1669261  9351 2008-12-05 00:18:55    82411.0
544589   9791 2008-12-05 23:48:40     7933.0
547416   7643 2008-12-06 03:34:39  2249007.0
         grid               stime   duration
681484   9351 2009-01-01 04:25:46     7016.0
1670772  7782 2009-01-01 06:24:15     7177.0
1311819  7925 2009-01-01 08:23:52     1982.0
198792   7643 2009-01-01 08:56:54    17227.0
599695   9354 2009-01-01 14:06:42    33003.0
1153868  9791 2009-01-01 23:38:25    16623.0
1380111  9354 2009-01-02 04:42:00    85438.0
619496   9791 2009-01-03 04:52:20    15533.0
540548   9354 2009-01-03 09:32:57    52754.0
1992047  9351 2009-01-04 00:22:03    39250.0
735985   9354 2009-01-04 11:27:49   132564.0
1488509  9351 2009-01-06 00:17:13    42400.0
1729451  9354 2009-01-06 12:13:01    48849.0
998490   7786 2009-01-07 01:47:40     2723.0
998892   9074 2009-01-07 03:04:13     5004.0
999267   8927 2009-01-07 04:49:57    19779.0
999447   9354 2009-01-07 10:33:56    50287.0
1870773  9351 2009-01-08 00:33:03    36096.0
1409619  9354 2009-01-08 10:42:54    48796.0
1282128  9351 2009-01-09 00:26:25    38274.0
240682   9354 2009-01-09 11:13:19    75542.0
2141107  9068 2009-01-10 08:19:41    15136.0
2141264  9354 2009-01-10 12:34:47    46361.0
1549119  9203 2009-01-11 01:42:48     2185.0
1549703  9354 2009-01-11 03:03:19     4373.0
1550297  9791 2009-01-11 04:50:07    15580.0
1550975  8065 2009-01-11 10:26:02    12969.0
1551121  9354 2009-01-11 14:13:06    36058.0
1744908  9351 2009-01-12 00:24:09    24140.0
599944   9065 2009-01-12 07:06:29    16977.0
600296   9350 2009-01-12 12:14:41     6978.0
600555   9354 2009-01-12 14:20:44    75380.0
1084109  9354 2009-01-13 11:28:49    47002.0
355375   9351 2009-01-14 00:32:36    99118.0
210381   9791 2009-01-15 04:33:54     6954.0
210845   9791 2009-01-15 06:55:33     2357.0
211393   9354 2009-01-15 08:04:15    58908.0
133583   9351 2009-01-16 00:35:43    39986.0
18165    9354 2009-01-16 11:55:14    64137.0
81033    8936 2009-01-17 06:42:46     4180.0
81702    8936 2009-01-17 08:21:46     9300.0
83097    8650 2009-01-17 11:27:06    10055.0
84750    7928 2009-01-17 14:58:53    39969.0
132882   7643 2009-01-18 02:13:32  1819750.0
         grid               stime  duration
2141687  9068 2009-02-08 04:07:17    7800.0
2141933  9354 2009-02-08 06:21:37   64022.0
1363477  9351 2009-02-09 00:19:19   35650.0
15347    9354 2009-02-09 10:24:09   85468.0
1594363  9354 2009-02-10 10:23:37   50243.0
1922332  9351 2009-02-11 00:31:50   45912.0
1664096  9354 2009-02-11 13:28:42   39114.0
1897620  9351 2009-02-12 00:32:21   42635.0
1083845  9354 2009-02-12 12:52:26   41084.0
584386   9351 2009-02-13 00:26:40   38897.0
681800   9354 2009-02-13 11:30:42   54033.0
987149   9352 2009-02-14 02:37:35    6813.0
987509   9217 2009-02-14 04:45:08   12503.0
987990   9351 2009-02-14 08:44:16    7962.0
988656   8065 2009-02-14 11:35:08   11127.0
988945   9354 2009-02-14 15:22:37   53967.0
1018147  9356 2009-02-15 06:25:19    7479.0
1018760  9354 2009-02-15 08:31:08   56541.0
1592911  9351 2009-02-16 00:23:39   35493.0
1068617  9354 2009-02-16 10:22:12   49861.0
85154    9351 2009-02-17 00:23:03   35449.0
395      9354 2009-02-17 10:27:42   50085.0
1032134  9351 2009-02-18 00:35:17   36885.0
1918556  9354 2009-02-18 11:00:37   48002.0
1473751  9351 2009-02-19 00:31:59   37267.0
1491311  9354 2009-02-19 11:07:21   47805.0
72710    9351 2009-02-20 00:38:21   36681.0
235395   7643 2009-02-20 10:53:22   12500.0
1493831  9354 2009-02-20 14:39:42  207408.0
371375   9351 2009-02-23 00:27:15   40884.0
1513475  9354 2009-02-23 12:00:59   44140.0
571981   9495 2009-02-24 00:19:49   34590.0
1481802  9354 2009-02-24 09:59:59   51312.0
1282453  9495 2009-02-25 00:18:51   36577.0
100520   9354 2009-02-25 10:33:38   49908.0
1318241  9495 2009-02-26 00:32:06   34180.0
1362106  9354 2009-02-26 10:06:16   51445.0
1268666  9638 2009-02-27 00:30:51   35683.0
494831   9351 2009-02-27 10:35:04    9618.0
494953   8636 2009-02-27 13:19:17    2154.0
1897970  9354 2009-02-27 14:08:38  210302.0
         grid               stime  duration
1633442  9638 2009-03-02 00:37:09   14459.0
1633574  9638 2009-03-02 04:39:23   17985.0
1633644  9354 2009-03-02 09:43:53   54141.0
1263510  9638 2009-03-03 00:57:59   32676.0
1746153  9354 2009-03-03 10:08:30   51630.0
...       ...                 ...       ...
1185964  9354 2009-03-29 07:51:26   60010.0
1490370  9351 2009-03-30 00:37:45   35608.0
1639275  9354 2009-03-30 10:42:10   49163.0
1610736  9351 2009-03-31 00:30:48   34681.0
517391   9354 2009-03-31 10:21:32   49793.0

[71 rows x 3 columns]
            grid               stime  duration
341981      9212 2009-04-01 00:36:53    3478.0
342070      9212 2009-04-01 01:41:40    3266.0
342229      8636 2009-04-01 02:36:06   27393.0
587928      9354 2009-04-01 10:27:39   50744.0
341356      9351 2009-04-02 00:42:56   35493.0
...          ...                 ...       ...
1188213 -1308683 2009-04-30 13:10:57    2283.0
1188616 -1308683 2009-04-30 14:04:39    4412.0
1188811 -1310689 2009-04-30 15:20:35    8613.0
1189628 -1310546 2009-04-30 18:05:22    2655.0
1190241 -1310689 2009-04-30 19:17:03   54365.0

[124 rows x 3 columns]
            grid               stime  duration
898673  -1310688 2009-05-01 10:23:08    2303.0
900257  -1313565 2009-05-01 11:39:45    2192.0
900736  -1313566 2009-05-01 12:50:38    1876.0
903453  -1310546 2009-05-01 15:53:08    5486.0
903491  -1310689 2009-05-01 17:26:07   48710.0
...          ...                 ...       ...
1759400     7357 2009-05-28 10:04:27   12211.0
1759407     7500 2009-05-28 13:27:58    3097.0
1759556     9354 2009-05-28 14:25:15  208155.0
1196501     9351 2009-05-31 00:25:34   34111.0
1918105     9354 2009-05-31 09:54:05   52260.0

[88 rows x 3 columns]
         grid               stime  duration
1555036  9351 2009-06-01 00:36:05   34062.0
486617   9354 2009-06-01 10:15:16   51560.0
1761751  9351 2009-06-02 00:45:07   33122.0
379043   9354 2009-06-02 10:08:50   51303.0
1024627  9351 2009-06-03 00:35:35   34462.0
...       ...                 ...       ...
1870319  7786 2009-06-28 12:21:23    3149.0
1870367  9354 2009-06-28 13:14:42   45853.0
1053057  9351 2009-06-29 02:09:05   29379.0
799202   9354 2009-06-29 10:30:43   84952.0
1517822  9354 2009-06-30 10:13:11  155004.0

[91 rows x 3 columns]
         grid               stime  duration
2140014  9070 2009-07-02 05:36:19    4486.0
2140092  9213 2009-07-02 06:51:05    2394.0
2140297  9354 2009-07-02 07:39:54  255972.0
1898790  9208 2009-07-05 07:01:52   11977.0
1899621  9354 2009-07-05 10:34:20  139629.0
...       ...                 ...       ...
2045233  7922 2009-07-31 06:37:10    2665.0
2045322  8065 2009-07-31 07:21:35    3218.0
2045930  8636 2009-07-31 08:39:25    3941.0
2046372  8638 2009-07-31 10:15:03    5266.0
2047640  9354 2009-07-31 12:34:11   68472.0

[103 rows x 3 columns]
         grid               stime  duration
1435397  9351 2009-08-01 07:49:42    1986.0
1435717  8492 2009-08-01 08:51:29    1834.0
1436037  8492 2009-08-01 09:28:54    2918.0
1436116  9495 2009-08-01 10:19:32   11276.0
1436582  9354 2009-08-01 13:56:01   58390.0
...       ...                 ...       ...
1797547  8354 2009-08-30 03:09:08    2879.0
1797984  8211 2009-08-30 03:57:07    3479.0
1798911  7786 2009-08-30 05:36:16    4917.0
1799098  7643 2009-08-30 06:58:13   13373.0
1800243  9354 2009-08-30 11:04:57  224874.0

[81 rows x 3 columns]
         grid               stime  duration
432557   9351 2009-09-02 01:43:05    2683.0
432636   7782 2009-09-02 02:33:41    8661.0
432880   9068 2009-09-02 05:05:24   10352.0
433316   9354 2009-09-02 08:03:53  237659.0
838045   9074 2009-09-05 02:19:33    5296.0
...       ...                 ...       ...
239101   9354 2009-09-26 10:44:05   84364.0
600939   9354 2009-09-27 10:27:14   48285.0
1548893  9209 2009-09-27 23:59:33   38585.0
127028   9354 2009-09-28 11:06:06  178217.0
2123140  9354 2009-09-30 12:37:35   63579.0

[64 rows x 3 columns]
        grid               stime  duration
815028  9071 2009-10-01 06:32:12   12882.0
815408  9354 2009-10-01 10:14:30   57185.0
507627  9074 2009-10-02 07:23:56   10901.0
508950  9352 2009-10-02 11:13:19    4541.0
509376  9354 2009-10-02 12:44:14   60585.0
...      ...                 ...       ...
486998  9209 2009-10-30 00:28:39   33493.0
340821  9354 2009-10-30 10:09:47   50392.0
822256  9354 2009-10-31 01:05:26   34152.0
356567  9209 2009-10-31 10:43:31   12043.0
356912  9354 2009-10-31 14:18:11   74874.0

[79 rows x 3 columns]
          grid               stime  duration
1908041   9354 2009-11-01 11:11:37   46678.0
1531455   9209 2009-11-02 00:21:05   38388.0
1640842   9354 2009-11-02 11:32:41   45561.0
427377    9209 2009-11-03 00:21:33   32821.0
1336069   9354 2009-11-03 09:59:48   51200.0
626342    9209 2009-11-04 00:21:26   32883.0
676328    9354 2009-11-04 09:53:41   51565.0
1854470   9209 2009-11-05 00:25:08   33476.0
1408370   9354 2009-11-05 10:11:22   50130.0
1999606   9209 2009-11-06 00:17:50   42667.0
201282    9354 2009-11-06 12:17:03   51005.0
1763113   9074 2009-11-07 02:53:53    7001.0
1763158   9217 2009-11-07 04:50:34  154231.0
1450347   8930 2009-11-09 00:04:00   35345.0
1748585   9074 2009-11-09 10:35:23   89190.0
346565    9074 2009-11-10 11:41:47   42912.0
2049028   9075 2009-11-10 23:36:59   86754.0
1351203   8930 2009-11-12 00:02:26   36403.0
649253    9074 2009-11-12 10:22:31   47934.0
340323    9075 2009-11-12 23:41:25   36574.0
1250212   8791 2009-11-13 10:03:50  221857.0
1246743   9218 2009-11-15 23:54:04   36533.0
1318051   9074 2009-11-16 10:29:02   48237.0
1401326   8930 2009-11-17 00:08:27   35522.0
2041649   9074 2009-11-17 10:16:50   86810.0
1084410   9074 2009-11-18 10:40:31   47284.0
1953143   8930 2009-11-19 00:06:53   44502.0
1515932   9074 2009-11-19 12:58:31   38564.0
1278627   9207 2009-11-20 00:25:50   35118.0
1199802   9074 2009-11-20 10:34:04  149745.0
1047620   9219 2009-11-22 04:15:21    5218.0
1048097   9074 2009-11-22 06:05:51    4927.0
1048923   9361 2009-11-22 07:30:01    8173.0
1049128   9361 2009-11-22 09:46:26    4346.0
1049334   9074 2009-11-22 11:01:52   45961.0
2101427   8930 2009-11-23 00:06:06   40195.0
1731324   9074 2009-11-23 11:32:24   44324.0
2107221   8930 2009-11-24 00:06:00   34529.0
1144362   9074 2009-11-24 09:59:35   49619.0
169620    9075 2009-11-24 23:46:34   36731.0
33917     9074 2009-11-25 09:58:45   49497.0
1588402   8930 2009-11-26 00:00:53   45946.0
638333    9074 2009-11-26 12:58:22   38346.0
457540    9075 2009-11-26 23:37:28   47701.0
1488398   9074 2009-11-27 13:13:56   38287.0
909509    8930 2009-11-28 00:08:08    7646.0
913040   10205 2009-11-28 04:24:36    3965.0
914845    8936 2009-11-28 06:19:03    8935.0
915759    9074 2009-11-28 08:59:42    6228.0
916137    9361 2009-11-28 11:02:13    5464.0
916149    9074 2009-11-28 12:40:00  126185.0
889773    8930 2009-11-30 00:03:30    8818.0
889832    8783 2009-11-30 02:31:16   27907.0

In [27]:
s = stay.groupby(pd.Grouper(key='stime', freq='M')).count()
s

            userID  grid  etime  lon  lat  duration  stayid
stime
2007-07-31      29    29     29   29   29        29      29
2007-08-31       0     0      0    0    0         0       0
2007-09-30       0     0      0    0    0         0       0
2007-10-31       0     0      0    0    0         0       0
2007-11-30       0     0      0    0    0         0       0
2007-12-31       0     0      0    0    0         0       0
2008-01-31       0     0      0    0    0         0       0
2008-02-29       0     0      0    0    0         0       0
2008-03-31       0     0      0    0    0         0       0
2008-04-30      21    21     21   21   21        21      21
2008-05-31      54    54     54   54   54        54      54
2008-06-30      63    63     63   63   63        63      63
2008-07-31      64    64     64   64   64        64      64
2008-08-31      71    71     71   71   71        71      71
2008-09-30      81    81     81   81   81        81      81
2008-10-31      74    74     74   74   74        74      74
2008-11-30      67    67     67   67   67        67      67
2008-12-31      11    11     11   11   11        11      11
2009-01-31      44    44     44   44   44        44      44
2009-02-28      41    41     41   41   41        41      41
2009-03-31      71    71     71   71   71        71      71
2009-04-30     124   124    124  124  124       124     124
2009-05-31      88    88     88   88   88        88      88
2009-06-30      91    91     91   91   91        91      91
2009-07-31     103   103    103  103  103       103     103
2009-08-31      81    81     81   81   81        81      81
2009-09-30      64    64     64   64   64        64      64
2009-10-31      79    79     79   79   79        79      79
2009-11-30      54    54     54   54   54        54      54
2009-12-31      66    66     66   66   66        66      66
2010-01-31      45    45     45   45   45        45      45
2010-02-28      68    68     68   68   68        68      68
2010-03-31      83    83     83   83   83        83      83
2010-04-30      73    73     73   73   73        73      73
2010-05-31      65    65     65   65   65        65      65
2010-06-30      45    45     45   45   45        45      45
2010-07-31      69    69     69   69   69        69      69
2010-08-31      75    75     75   75   75        75      75
2010-09-30      23    23     23   23   23        23      23
2010-10-31      62    62     62   62   62        62      62
2010-11-30      59    59     59   59   59        59      59
2010-12-31      66    66     66   66   66        66      66
2011-01-31      71    71     71   71   71        71      71
2011-02-28      36    36     36   36   36        36      36
2011-03-31      65    65     65   65   65        65      65
2011-04-30      71    71     71   71   71        71      71
2011-05-31      64    64     64   64   64        64      64
2011-06-30      58    58     58   58   58        58      58
2011-07-31      54    54     54   54   54        54      54
2011-08-31      89    89     89   89   89        89      89
2011-09-30      50    50     50   50   50        50      50
2011-10-31      87    87     87   87   87        87      87
2011-11-30      60    60     60   60   60        60      60
2011-12-31      84    84     84   84   84        84      84
2012-01-31      56    56     56   56   56        56      56
2012-02-29      58    58     58   58   58        58      58
2012-03-31      48    48     48   48   48        48      48
2012-04-30      39    39     39   39   39        39      39
2012-05-31      74    74     74   74   74        74      74
2012-06-30      20    20     20   20   20        20      20

In [28]:
s.describe()

,userID,grid,etime,lon,lat,duration,stayid
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,54.300000,54.300000,54.300000,54.300000,54.300000,54.300000,54.300000
std,29.232731,29.232731,29.232731,29.232731,29.232731,29.232731,29.232731
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.500000,40.500000,40.500000,40.500000,40.500000,40.500000,40.500000
50%,62.500000,62.500000,62.500000,62.500000,62.500000,62.500000,62.500000
75%,71.500000,71.500000,71.500000,71.500000,71.500000,71.500000,71.500000
max,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000

In [19]:
move = pd.read_csv('./Data/Output/Move/153.csv', index_col=0)
move['stime'] = pd.to_datetime(move['stime'])
move.head(10)

,userID,Sgrid,stime,slon,slat,etime,elon,elat,Egrid,duration,moveid
1679859,153,7928,2007-07-21 05:08:52,116.345300,39.967233,2007-07-21 05:08:52,116.345300,39.967233,7928.0,0.0,0
1679859,153,7928,2007-07-21 05:47:31,116.345300,39.967233,2007-07-21 05:59:47,116.344650,39.967117,7928.0,736.0,1
1679889,153,7928,2007-07-21 10:58:42,116.344650,39.967117,2007-07-21 11:07:10,116.344467,39.971917,7786.0,508.0,2
1679917,153,7786,2007-07-21 13:13:26,116.344467,39.971917,2007-07-21 13:51:08,116.344800,39.967217,7928.0,2262.0,3
1680015,153,7928,2007-07-22 03:47:00,116.344800,39.967217,2007-07-22 04:43:45,116.308917,39.974733,7357.0,3405.0,4
1541299,153,7357,2007-07-22 06:03:36,116.308917,39.974733,2007-07-22 06:23:51,116.327350,39.975000,7643.0,1215.0,5
1541406,153,7643,2007-07-22 08:11:45,116.327350,39.975000,2007-07-22 09:20:31,116.404150,40.031700,8650.0,4126.0,6
1541484,153,8650,2007-07-22 10:41:52,116.404150,40.031700,2007-07-22 11:02:06,116.344617,39.967033,7928.0,1214.0,7
1541624,153,7928,2007-07-22 12:16:15,116.344617,39.967033,2007-07-22 12:37:33,116.463983,39.928933,9354.0,1278.0,8
1541653,153,9354,2007-07-24 23:42:05,116.463983,39.928933,2007-07-25 00:03:53,116.583500,40.079267,10801.0,1308.0,9

In [14]:
move.shape

(518, 11)

In [29]:
m = move.groupby(pd.Grouper(key='stime', freq='M')).count()
m

,userID,Sgrid,slon,slat,etime,elon,elat,Egrid,duration,moveid
stime,,,,,,,,,,
2007-07-31,29,29,29,29,29,29,29,29,29,29
2007-08-31,0,0,0,0,0,0,0,0,0,0
2007-09-30,0,0,0,0,0,0,0,0,0,0
2007-10-31,0,0,0,0,0,0,0,0,0,0
2007-11-30,0,0,0,0,0,0,0,0,0,0
2007-12-31,0,0,0,0,0,0,0,0,0,0
2008-01-31,0,0,0,0,0,0,0,0,0,0
2008-02-29,0,0,0,0,0,0,0,0,0,0
2008-03-31,0,0,0,0,0,0,0,0,0,0
2008-04-30,21,21,21,21,21,21,21,21,21,21
2008-05-31,54,54,54,54,54,54,54,54,54,54
2008-06-30,63,63,63,63,63,63,63,63,63,63
2008-07-31,64,64,64,64,64,64,64,64,64,64
2008-08-31,71,71,71,71,71,71,71,71,71,71
2008-09-30,81,81,81,81,81,81,81,81,81,81
2008-10-31,74,74,74,74,74,74,74,74,74,74
2008-11-30,67,67,67,67,67,67,67,67,67,67
2008-12-31,11,11,11,11,11,11,11,11,11,11
2009-01-31,44,44,44,44,44,44,44,44,44,44
2009-02-28,41,41,41,41,41,41,41,41,41,41
2009-03-31,71,71,71,71,71,71,71,71,71,71
2009-04-30,124,124,124,124,124,124,124,124,124,124
2009-05-31,88,88,88,88,88,88,88,88,88,88
2009-06-30,91,91,91,91,91,91,91,91,91,91
2009-07-31,103,103,103,103,103,103,103,103,103,103
2009-08-31,81,81,81,81,81,81,81,81,81,81
2009-09-30,64,64,64,64,64,64,64,64,64,64
2009-10-31,79,79,79,79,79,79,79,79,79,79
2009-11-30,55,55,55,55,55,55,55,55,55,55
2009-12-31,65,65,65,65,65,65,65,65,65,65
2010-01-31,45,45,45,45,45,45,45,45,45,45
2010-02-28,68,68,68,68,68,68,68,68,68,68
2010-03-31,83,83,83,83,83,83,83,83,83,83
2010-04-30,73,73,73,73,73,73,73,73,73,73
2010-05-31,65,65,65,65,65,65,65,65,65,65
2010-06-30,46,46,46,46,46,46,46,46,46,46
2010-07-31,68,68,68,68,68,68,68,68,68,68
2010-08-31,75,75,75,75,75,75,75,75,75,75
2010-09-30,23,23,23,23,23,23,23,23,23,23
2010-10-31,62,62,62,62,62,62,62,62,62,62
2010-11-30,59,59,59,59,59,59,59,59,59,59
2010-12-31,66,66,66,66,66,66,66,66,66,66
2011-01-31,71,71,71,71,71,71,71,71,71,71
2011-02-28,36,36,36,36,36,36,36,36,36,36
2011-03-31,65,65,65,65,65,65,65,65,65,65
2011-04-30,71,71,71,71,71,71,71,71,71,71
2011-05-31,64,64,64,64,64,64,64,64,64,64
2011-06-30,58,58,58,58,58,58,58,58,58,58
2011-07-31,54,54,54,54,54,54,54,54,54,54
2011-08-31,89,89,89,89,89,89,89,89,89,89
2011-09-30,50,50,50,50,50,50,50,50,50,50
2011-10-31,87,87,87,87,87,87,87,87,87,87
2011-11-30,60,60,60,60,60,60,60,60,60,60
2011-12-31,84,84,84,84,84,84,84,84,84,84
2012-01-31,56,56,56,56,56,56,56,56,56,56
2012-02-29,58,58,58,58,58,58,58,58,58,58
2012-03-31,48,48,48,48,48,48,48,48,48,48
2012-04-30,39,39,39,39,39,39,39,39,39,39
2012-05-31,74,74,74,74,74,74,74,74,74,74
2012-06-30,21,21,21,21,21,21,21,21,21,21

In [30]:
m.describe()

,userID,Sgrid,slon,slat,etime,elon,elat,Egrid,duration,moveid
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,54.316667,54.316667,54.316667,54.316667,54.316667,54.316667,54.316667,54.316667,54.316667,54.316667
std,29.193389,29.193389,29.193389,29.193389,29.193389,29.193389,29.193389,29.193389,29.193389,29.193389
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.500000,40.500000,40.500000,40.500000,40.500000,40.500000,40.500000,40.500000,40.500000,40.500000
50%,62.500000,62.500000,62.500000,62.500000,62.500000,62.500000,62.500000,62.500000,62.500000,62.500000
75%,71.500000,71.500000,71.500000,71.500000,71.500000,71.500000,71.500000,71.500000,71.500000,71.500000
max,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000,124.000000

In [21]:
move.describe()

,userID,Sgrid,stime,slon,slat,elon,elat,Egrid,duration,moveid
count,3259.0,3.259000e+03,3259,3259.000000,3259.000000,3259.000000,3259.000000,3.259000e+03,3259.000000,3259.00000
mean,153.0,-1.076666e+05,2010-04-23 06:23:05.731512576,106.799625,39.142285,106.799661,39.142293,-1.076662e+05,1194.380792,1629.00000
min,153.0,-2.877797e+06,2007-07-21 05:08:52,-122.297716,22.233795,-122.297716,22.233795,-2.877797e+06,0.000000,0.00000
25%,153.0,8.922000e+03,2009-05-01 02:36:22.500000,116.427371,39.925928,116.427380,39.925928,8.922000e+03,204.000000,814.50000
50%,153.0,9.074000e+03,2010-03-28 08:25:51,116.450927,39.979932,116.450928,39.979934,9.074000e+03,705.000000,1629.00000
75%,153.0,9.354000e+03,2011-05-13 05:07:17,116.471498,39.985376,116.471498,39.985377,9.354000e+03,1520.000000,2443.50000
max,153.0,1.335520e+05,2012-06-17 16:51:05,126.681315,55.974375,126.681315,55.974375,1.335520e+05,32151.000000,3258.00000
std,0.0,5.034911e+05,NaN,41.642759,3.696720,41.642767,3.696722,5.034912e+05,1861.583669,940.93659